.Label:hover{
    
}
#labelMasseage{
    -fx-background-color:#03A9F4;
    -fx-text-fill:white;   
    -fx-background-width:100%;
    -fx-background-height:70px;
}

.button{
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 12px; 
    -fx-padding: 8px 25px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.button:hover{
    -fx-background-color: #EA5444;
    -fx-text-fill: white;

}
.button:focused{
   -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
   -fx-border-radius: 50px;
}
.button:pressed{
    -fx-background-color: #EA5444;
    -fx-text-fill: white;
}
